[submodule ".idea"]
	path = .idea
	url = https://github.com/raphaelcohn/intellij-project-template.git
[submodule "library/annotations"]
	path = library/annotations
	url = https://github.com/raphaelcohn/intellij-library-annotations.git
[submodule "library/javaparser"]
	path = library/javaparser
	url = https://github.com/raphaelcohn/intellij-library-javaparser.git
[submodule "library/asm"]
	path = library/asm
	url = https://github.com/raphaelcohn/intellij-library-asm.git
[submodule "library/jopt-simple"]
	path = library/jopt-simple
	url = https://github.com/raphaelcohn/intellij-library-jopt-simple.git
[submodule "library/charsetDetector"]
	path = library/charsetDetector
	url = https://github.com/raphaelcohn/charsetDetector.git
[submodule "library/path"]
	path = library/path
	url = https://github.com/raphaelcohn/path.git
[submodule "library/java-classfile"]
	path = library/java-classfile
	url = https://github.com/raphaelcohn/java-classfile.git
